html {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

nav {
  background-image: linear-gradient(250deg, #109ebe 10%, #003366 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.39);
  z-index: 1;
  position: relative;
  
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #003366;
  height: 20vw;
  color: white;
  text-align: end;
  font-size: 12px;
}

.footer-box {
  border: solid white 1px;
  text-align: center;
  padding: 5px 50px 5px 50px;
  margin-bottom: 10px;
}

.nav-logo {
  height: 65px;
  margin: 20px;
}

.volunteer-button,
.donate-button, .signup-button {
  border-radius: 20px;
  width: 90px;
  margin: 5px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  border-style: none;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.signup-button {
color: #003366;
background-color: #66ccff;
width: 25vw;
}
.volunteer-button {
  background-color: #ffcc00;
  color: #003366;
}

.donate-button {
  background-color: #cc0033;
  color: white;
}

.socials {
  height: 50px;
  margin: -8px;
}

#hero,
.hero-img {
  z-index: 0;
  height: 50vw;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  position: relative;
  color: white;
}

.hero-overlay {
  background-color: #f4f415;
  background-image: linear-gradient(225deg, #e8ee94 10%, #006699 40%);
  position: absolute;
  object-fit: cover;
  height: 50vw;
  max-height: 600px;
  width: 45%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 170px 0 50px;
  clip-path: polygon(0 0, 60% 0, 90% 100%, 0% 100%);
}

.samantha-logo {
  height: 13vw;
  width: 20vw;
  margin-bottom: 30px;
}

.signup-col{
  margin: 3px;
  padding: 0px;
}

input {
  border: solid white 2px;
  background-color: #3399cc;
  color: white;
  padding: 5px;
}


.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center ;
  align-content: center;
  padding: 50px;
  margin: 50px;
}

.donate-box {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(250deg, #e8ee94 -150%, #003366 75%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.donate-row {
  margin: 20px;
}

.donate-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: solid #66ccff 4px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  font-weight: bold;
}

.donate-col:hover {
  background-color: #ffcc00;
  color: #003366;
  border-color: #003366;
}

.about-header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #003366;
}

.about-samantha {
  padding: 60px;
}

.about-img {
  height: 19vw;
  margin: 30px 0 30px 0;
}

section {
  font-size: 14px;
  margin-top: 20px;
  position: relative;
  padding-right: 30px;
}

.img2 {
  position: absolute;
  bottom: 0px;
}

.float-box {
  width: 25vw;
  position: absolute;
  top: 90px;
  left: 300px;
  background-color: #f4f415;
  background-image: linear-gradient(250deg, #cdbb14 -8%, #006699 28%);
  opacity: 90%;
  padding: 20px;
  color: white;
}
